@model CommentServiceModel
@inject ICommentService commentService

<div class="row-md-2 p-3">
    <div class="card mb-3">
        <div class="card-header">
            Project: <b>@Model.Title</b>
        </div>
        <div class="row g-0">
            <div class="col-6 col-lg-3">
                <div class="rounded-start" style="height: 100%; width:100%; background-image: url(@Model.ProjectImageUrl); background-position:center; background-repeat:no-repeat; background-size: cover;"></div>
            </div>
            <div class="col-6 col-lg-9">
                <div class="card-body">
                    <h5><em>"@Model.Content"</em></h5>
                    <p></p>
                    <h6 class="text-"><em>- Author: <b>@Model.FullName</b></em></h6>
                    <br />
                    @if (this.User.IsAdmin() || await this.commentService.HasAuthorWithIdAsync(Model.Id, User.Id()))
                    {
                        <a asp-area="" asp-controller="Comment" asp-action="Edit" asp-route-id="@Model.Id"
                           class="btn btn-dark m-1">Edit</a>
                        <a asp-area="" asp-controller="Comment" asp-action="Delete" asp-route-id="@Model.Id"
                           class="btn btn-dark m-1">Delete</a>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer text-body-secondary text-center">
            <em>- Date and time: <b>@Model.Date</b></em>
        </div>
    </div>
</div>

