@model ProjectGalleryServiceModel
@inject IDesignerService designerService

@{
    ViewBag.Title = "Project Gallery";
    var gallery = Model.Gallery.ToList();
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<h3 class="text-center"><u>@Model.Title</u></h3>
<p></p>

@if (!Model.Gallery.Any())
{
    <div class="mt-4 p-5 bg-light">
        <p class="lead">
            There are no images in the system for current project available yet!
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity.IsAuthenticated)
            {
                <p class="lead">You can add some!</p>
            }
        </p>
    </div>
}


<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        @for (int i = 0; i < gallery.Count(); i++)
        {
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : string.Empty)" aria-current="true" aria-label="Slide @i"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (int i = 0; i < gallery.Count(); i++)
        {
            var image = gallery[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:680px" src="@image.ImageUrl" alt="">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


    @if (await designerService.ExistsByUserIdAsync(User.Id()) || User.IsAdmin())
    {
        <form method="post" class="m-4 text-center" asp-area="" asp-controller="Image" asp-action="AddImages" enctype="multipart/form-data">
            <div class="btn btn-primary btn-lg text-center"
                 role="button" onclick="document.getElementById('js-add-img').click(); return false;">
                Add Images
            </div>
            <input asp-for="ProjectId" id="projectId" style="visibility: hidden;" value="@Model.ProjectId" />
            <input asp-for="Title" id="title" style="visibility: hidden;" value="@Model.Title" />
            <input asp-for="Gallery" id="gallery" style="visibility: hidden;" value="@Model.Gallery" />
            <input type="file" asp-for="UploadedImages" id="js-add-img" accept="image/*" style="visibility: hidden;" multiple onchange="document.getElementById('submit').click(); return false;"/>
        <button class="btn btn-primary btn-lg text-center" type="submit" id="submit" style="visibility: hidden;">Submit</button>
        </form>
    }


@* <script>
    $('#js-add-img').on('change', (event) => {
        console.log(event)
        console.log(Object.values(event.target.files))//.map(file => file.name));
    })
</script> *@


