@model IEnumerable<ProjectIndexServiceModel>
@inject IDesignerService designerService

@{
    ViewData["Title"] = "Home Page";
    var projects = Model.ToList();
}

@if (!projects.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to Emil Kroumov & Co Ltd. Design Bureau</h1>
        <p class="lead">
            There are no projects in the system currently available!
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity.IsAuthenticated)
            {
            <p class="lead">
                You can add from here!
            </p>
                if (await designerService.ExistsByUserIdAsync(User.Id()))
                {
                <a asp-controller="Project" asp-action="Add" class="btn btn-primary btn-lg"
                   role="button">Add Project</a>
                }
            }
        </p>
    </div>
}

<div class="mb-4"></div>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        @for (int i = 0; i < projects.Count(); i++)
        {
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : string.Empty)" aria-current="true" aria-label="Slide @i"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (int i = 0; i < projects.Count(); i++)
        {
            var project = projects[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:680px"
                     src="@project.MainImageUrl" alt="@project.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Project" asp-action="Details"
                           asp-route-id="@project.Id"> @project.Title</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>